<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.quiz.lesson03.mapper.Real_estateMapper">
 
 	<!-- ID 조회 -->
 	<select id="selectRealEstateById" parameterType="int" resultType="com.quiz.lesson03.domain.Real_estate">
 		SELECT
 			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`id` = #{id}
 	</select>
 	
 	<!-- 월세 이하 조회 -->
 	<select id="selectRealEstateByRentPrice" parameterType="int" resultType="com.quiz.lesson03.domain.Real_estate">
 		SELECT
 			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`rentPrice` &lt; #{rent_price}
 	</select>
 	
 	<!-- 매매 기준 평수, 가격 조회  -->
 	<select id="selectRealEstateByAreaPrice" parameterType="hashMap" resultType="com.quiz.lesson03.domain.Real_estate">
 		SELECT
 			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`area` &gt; #{arg0} 
			and `price` &lt; #{arg1}
			and `type` = '매매'
		ORDER BY
			`createdAt` DESC
 	</select>
 </mapper>